*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "topbar topbar"
    "main sidebar";
  height: 100vh;
}

/* Стили для самого поля ввода */
.input {
  background-color: aliceblue;
  border: 1px solid rgb(172, 175, 177);
  border-radius: 8px;
  color: black;
  font-size: 14px;
  padding: 10px 14px; 
}


.input::placeholder {
  color: darkgray;
}

.topbar {
  grid-area: topbar;
  background-color: rgb(39, 178, 72);
  display: flex; /* Для выравнивания элементов внутри */
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.topbar_actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Чтобы картинка не растягивалась */
  background-color: #ccc; /* Заглушка, если картинка не загрузится */
}

.main {
  grid-area: main;
  background-color: rgb(243, 64, 9);
}
.bookmarks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

}
.bookmark {
    border-radius: 10px;
    background-color: aliceblue;

}
.bookmark__header {
   display: flex;
   align-items: start; 
   justify-content: space-between;
   
}
.bookmark__content {
    display: flex;
   align-items: start;
   justify-content: space-between;
    width: 44;
    gap 12px;
}

.bookmark__titles {
    font-size: 20px;
    color: black;
    margin: 10px;
}

.bookmark__link {}
.sidebar {
  grid-area: sidebar;
  background-color: rgb(243, 173, 22);
}

.button {
  cursor: pointer;
  padding: 12px 18px;
  color: aliceblue;
  font-size: 16px;
  background-color: darkslategray;
  border-radius: 8px;
  border: 1px solid transparent;
}
